<div class="animationObject">
    <div>
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Ng2 Animation</span>
                <p>Here is some contents about the card.</p>
                <div class="row">
                    <div class="input-field col">
                        <button
                            type="button"
                            name="button"
                            (click)="animateObject($event)"
                            class="waves-effect waves-light btn light-blue lighten-1">
                                Click to animate.
                        </button>
                        <div class="aniObject" [(ngClass)]="aniObject" [@aniObjectChanged]="aniObject"></div>
                    </div>
                </div>
                sdafdsfdasfdasf
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
