<app-navigation title="{{title}}"></app-navigation>
<app-crud></app-crud>

<div class="row centerIcons">
    <div class="col s4">
        <i class="large material-icons">language</i>
        <br>
        World Icon
    </div>
    <div class="col s4">
        <i class="large material-icons">business</i>
        <br>
        Business Icon
    </div>
    <div class="col s4">
        <i class="large material-icons">star</i>
        <br>
        Star icon
    </div>
</div>

<div class="progress light-blue lighten-1">
    <div class="indeterminate light-blue lighten-5"></div>
</div>

<div class="row">
    <div class="col s12">
        <app-two-way-binding></app-two-way-binding>
    </div>
    <div class="col s12">
        <app-animation-object></app-animation-object>
    </div>
</div>

<app-modals></app-modals>
<app-toast-notifications></app-toast-notifications>
<app-footer></app-footer>
