<div class="twoWayObject">
    <div>
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Two Way Binding</span>
                <p>Here is some contents about the card.</p>
                <br>
                <div class="row">
                    <div class="input-field">
                        <input
                            [(ngModel)]="myTextualModel"
                            id="enterTextWrapper"
                            type="text"
                            class="validate">
                        <label for="enterTextWrapper">Enter text here</label>
                    </div>
                </div>
                <label for="textarea1">Textarea</label>
                <textarea id="textarea1" name="name" class="materialize-textarea" [(ngModel)]="myTextualModel"></textarea>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

</div>
