<div class="toastObject">
    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Toast Notification</span>
            <p>Here is some contents about the card.</p>
            <br>
            <div class="row">
                <a (click)="bringUpToast()" class="waves-effect waves-light btn light-blue lighten-1">Open Toast Notification</a>
            </div>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
